.root {
  position: fixed;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background: #93b5c6 !important;
  padding: 0 35px 0 19px;
  height: 60px;
  margin-bottom: 14px;
  z-index: 1;
}

.loginBtn {
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  margin-left: 15px;
  svg {
    margin-right: 10px;
  }
  &:hover {
    color: #1e7faf;
  }
}
