.content {
  width: 70%;
  margin: 20px auto;
  button {
    position: relative;
    svg {
      position: absolute;
      left: 14px;
      width: 24px;
      height: 24px;
    }
  }
}

.title {
  font-size: 18px;
  font-weight: 600 !important;
  color: #000 !important;
  margin-bottom: 25px !important;
}
.minButtons {
  display: flex;
  justify-content: space-between;
  button {
    height: 40px;
    &:nth-of-type(2) {
      margin: 0 15px;
    }
    svg {
      position: static;
    }
  }
}
.backTitle {
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    color: #4683d9;
  }
  svg {
    margin-right: 7px;
  }
}
